In [1]:
import sqlite3

In [2]:
import mysql.connector
from mysql.connector import Error

class DBM:
    def __init__(self, host, database, user, password):
        self.host = host
        self.database = database
        self.user = user
        self.password = password
        self.connection = None

    def connect(self):
        """Establish a connection to the database."""
        try:
            self.connection = mysql.connector.connect(
                host=self.host,
                database=self.database,
                user=self.user,
                password=self.password
            )
            if self.connection.is_connected():
                print(f"Connected to database: {self.database}")
        except Error as e:
            print(f"Error while connecting to MySQL: {e}")

    def disconnect(self):
        """Close the connection to the database."""
        if self.connection.is_connected():
            self.connection.close()
            print("MySQL connection is closed")

    def execute_query(self, query, params=None):
        """Execute a single query."""
        cursor = self.connection.cursor()
        try:
            cursor.execute(query, params)
            self.connection.commit()
            print("Query executed successfully")
        except Error as e:
            print(f"Error: '{e}'")
        finally:
            cursor.close()

    def fetch_all(self, query, params=None):
        """Fetch all rows from the result of a query."""
        cursor = self.connection.cursor()
        result = None
        try:
            cursor.execute(query, params)
            result = cursor.fetchall()
        except Error as e:
            print(f"Error: '{e}'")
        finally:
            cursor.close()
        return result

    def fetch_one(self, query, params=None):
        """Fetch a single row from the result of a query."""
        cursor = self.connection.cursor()
        result = None
        try:
            cursor.execute(query, params)
            result = cursor.fetchone()
        except Error as e:
            print(f"Error: '{e}'")
        finally:
            cursor.close()
        return result

In [27]:

dbm = DBM(host='127.0.0.1', database='hospitals_db', user='root', password='')
dbm.connect()

# Example usage
create_table_query = """
CREATE TABLE IF NOT EXISTS patients (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    age INT,
    gender ENUM('M', 'F') NOT NULL,
    admission_date DATE
)
"""
# dbm.execute_query(create_table_query)

insert_query = """
INSERT INTO doctor_translations (locale,name, appointments,doctor_id)
VALUES (%s, %s, %s,%s)
"""
# dbm.execute_query(insert_query, ('John Doe', 30, 'M', '2023-01-01'))
import numpy as np
select_query = "SELECT * FROM doctor_translations"
rows = dbm.fetch_all(select_query)
import pandas as pd
df=pd.DataFrame(np.array(rows))

Connected to database: hospitals_db

In [4]:
df=df.iloc[:,1:]

In [5]:
df.columns=['locale','name','appointment','doctor_id']

In [6]:
df.locale='en'

In [7]:
days=df.appointment.unique().tolist()
days.sort()
days_ar=days

In [8]:
days_en=['Monday', 'Sunday', 'Wednesday', 'Tuesday' ,'Thursday', 'Friday', 'Saturday']

In [11]:
# for each record in the df.appointment replace the value with the corresponding value in days_en

df_en=df.copy()
df_en.appointment.replace(days_ar,days_en,inplace=True)

C:\Users\engah\AppData\Local\Temp\ipykernel_22852\150857227.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_en.appointment.replace(days_ar,days_en,inplace=True)

In [28]:
for x in df_en.values:
    dbm.execute_query(insert_query, (x[0], x[1], x[2],x[3]))

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully